<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lcwu.fyp.petcaresystem">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.ShowClinicDetails"
            android:label="@string/title_activity_show_clinic_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.FixAppointment"
            android:label="@string/title_activity_fix_appointment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CartActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FoodDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.DoctorDashboard"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Appointments"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Orders"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Notifications"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.DoctorRegistration"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.Dashboard"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.EditUserProfile"
            android:label="@string/app_name"
            android:parentActivityName=".activities.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>